.wpml-ls-legacy-dropdown-click {
    width: auto;
    margin-left: 1rem;
    .wpml-ls-current-language:hover > a {
        background: transparent;
    }
    a.wpml-ls-item-toggle {
        background: transparent;
        border: unset;
        padding: 0;
        @media screen and (max-width: 550px) {
            font-size: 14px;
        }
        @media screen and (max-width: 375px) {
            display: flex;
            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 50px;
            }
        }
        img {
            border-radius: 50%;
            object-fit: cover;
        }
        &:after {
            content: url(str-insert("/assets/img/CaretDown.png", $path, 1));
            display: inline-block;
            position: unset;
            border: unset;
            margin-left: 0.5rem;
        }
    }
    .wpml-ls-sub-menu {
        border: unset;
        a {
            border-radius: 4px;
            border: unset;
            background-color: transparent;
            margin-top: 0.5rem;
            padding: 0;
            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}
.button-app.ct-link-button {
    border: unset;
    border-radius: 99px;
    background: $primary;
    margin-left: 2rem;
    color: $neutrals-1;
    padding: 12px 16px;
    @media screen and (max-width: 550px) {
        padding: 10px 12px;
        font-size: 14px;
        margin-left: 1rem;
    }
}
