.wpml-ls-legacy-dropdown-click {
    width: auto;
    margin-left: 1rem;
    .wpml-ls-current-language:hover > a {
        background: transparent;
    }
    a.wpml-ls-item-toggle {
        background: transparent;
        border: unset;
        padding: 0;
        img {
            border-radius: 50%;
            object-fit: cover;
        }
        &:after {
            content: unset;
            // vertical-align: middle;
            // display: inline-block;
            // position: unset;
            // border: unset;
            // margin-left: 0.5rem;
        }
    }
    .wpml-ls-sub-menu {
        border: unset;
        a {
            border-radius: 4px;
            border: unset;
            background-color: transparent;
            margin-top: 0.5rem;
            padding: 0;
            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}
